@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

:root {
  --main-text-color:  #365C7A;
  --alt-text-color: #695C77;
  --main-bg-color: #EFAC94;
  --alt-bg-color: #EE717B;
  --alt-color: #BB6B82;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
