.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.NavBar a {
  color: white;
  text-decoration: none;
}

.NavBar a.active {
  border-bottom: 3px dotted white;
}

.NavBar a:hover {
  color: grey;
}