.BlogPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 95vh;
}

.BlogPost-card {
  color: black;
  width: 80%;
  position: relative;
}

.BlogPost-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.BlogPost-title {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.BlogPost-description {
  color: black;
  font-size: 24px;
  width: 70%;
}

.BlogPost-icons {
  font-size: 16px;
  color: black;
  position: absolute;
  right: 0;
  width: 2.5rem;
  display: flex;
  justify-content: space-around;
}

.BlogPost-voteWrapper {
  display: flex;
  justify-content: center;
}

.fa-thumbs-up {
  color: green;
}

.fa-thumbs-down {
  color: red;
}

.fas:hover {
  cursor: pointer;
}